.postContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
}

.postContent {
    max-width: 1600px;
    width: 100%;
    height: auto;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 15px;
    margin-left: 25px;
}

.image {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: 25px;
}

.postImage {
    width: auto;
    height: 500px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 100%;
}

.submitButton {
    border-radius: 10px;
    background: #FFEBE1;
    border:none;
    padding:10px 50px;
    margin: 15px 0 0 0;
    outline: none;
    width: 250px;
    font-size: 26px;
    font-weight: bold;
}

.para {
    font-size: 22px;
    font-family: "Poppins";
}

.listText {
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    color: black;
    
}

.formContainer ul {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 75px;
    padding: 0;
    
}

.formContainer li:before {
    content: "•"; 
    color: #EC744A;
    margin-right: 25px;
    font-size: 6em;
    vertical-align: bottom;
    position: relative;
    top: -20px;
    /* font-size: 6em;
    margin-right: 15px;
    vertical-align: -webkit-baseline-middle; */

}


@media (max-width: 1575px) {

    .para {
        width: 60%;
        text-align: center;
    }

    .postContent {
        flex-direction: column;
    }
    .form {
        width: 100%;
        margin-left: 0;
    }
    
    .image {
        width: 100%;
        margin-right: 0;
    }

    .formContainer {
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .messageBox {
        width: 100%;
    }
    
  }

@media (max-width: 700px) {

    .para {
        width: 75%;
        text-align: center;
    }

    .postImage {
        width: auto;
        height: 350px;
    }

    .inputBox {
        border-radius: 10px;
        border: .5px solid black;
        height: 50px;
        width: 80%;
        margin-bottom: 15px;
    }

    .formatButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 475px) {

    .postImage {
        width: auto;
        height: 300px;
    }

    .postImage {
        width: auto;
        height: 275px;
    }
 
}