.featureContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 0;

}

.featureContent {
    border-radius: 10px;
    padding: 10px;
    height: auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
    z-index: 4;
    overflow: hidden;
}

.grid {
    display: flex;
    padding-left: 65px;
    width: 100%;
}

.caraPhoto {
    margin-top: 15px;
    /* overflow: hidden; */
    width: 125%;
    margin: 0 0 15px 0;
    padding: 15px;
    height: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        
}

@media (min-width: 1500px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        padding-left: 65px;
        width: 100%;
    }
  }

@media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }


@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }



