.heroContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 0;
}

.heroContent {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1700px;

}
.heroPart1{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.subpart {
   position: relative;
   margin: 0;
}
.subpart h1{
   color:rgb(248, 83, 61); 
   font-weight: 0;
}

.heroPart2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:50px;
    justify-content: center;
    align-items: center;    
}

.heroPart2 p{
    width:200px;
}
/* .subpart img{
    width:100px;
} */
.heroLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-left:20px; */
}
.paragraph{
    font-family: poppins;
    font-size: 36px;
    color:grey;
}
.heading{
    font-weight: 0px;
    font-size: 48px;
    width:700px;
}
.buttonS{
    color:black;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 30px;
    width:fit-content;
    padding:10px;
    margin-top:30px;
    margin-left:10px;
}