.heroContainer {
    width: 100%;
    height: calc(100vh - 85px);
    background-color:white;
    display:flex;
    flex-direction: row;

}
.heroLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:20px;
}
.paragraph{
    font-family: poppins;
    font-size: 36px;
    color:grey;
}
.heading{
    font-weight: 0px;
    font-size: 48px;
    width:700px;
}
.buttonS{
    color:black;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 30px;
    width:fit-content;
    padding:10px;
    margin-top:30px;
    margin-left:10px;
}